<div>
  <div>
    <h1>
      Recipe #<%= @the_recipe.id %> details
    </h1>

    <div>
      <div>
        <a href="/recipes">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_recipe/<%= @the_recipe.id %>">
          Delete recipe
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Ingredient
      </dt>
      <dd>
        <%= @the_recipe.ingredient %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_recipe.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_recipe.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>

<dl>
  <% Message.where({ :recipe_id => @the_recipe.id }).order(:created_at).each do |message| %>
    <dt><%= message.role %></dt>
    <dd><%= simple_format(message.content) %></dd>
    <% if message.role == "assistant" %>
      <% if message.content.include? "Ingredients:" or "Instructions:" or "Directions:"%>
        <% if @current_user != nil %>
          <% current_user_bookmarks = Bookmark.where({ :message_id => message.id, :user_id => session.fetch(:user_id)}) %>
          <% the_bookmark = current_user_bookmarks.at(0) %>
          <% if the_bookmark == nil %>
            <form action="/add_bookmark">
              <input type="hidden" name="the_user_id" value="<%= session.fetch(:user_id) %>">

              <input type="hidden" name="the_message_id" value="<%= message.id %>">

              <button>Bookmark this recipe!</button>
            </form>
          <% else %>
          <form action="/delete_bookmark/<%= the_bookmark.id %>">
            <button>Un-Bookmark this recipe!</button>
          </form>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <dt>user</dt>
  <dd>
    <form action="/insert_message" method="post">
      <input type="hidden" name="query_recipe_id" value="<%= @the_recipe.id %>">

      <input type="hidden" id="role_box" name="query_role" value="user">

      <div>
        <label for="content_box" style="display: none">
          Content
        </label>

        <textarea id="content_box" name="query_content" placeholder="Enter your response..." cols="80" rows="10"></textarea>
      </div>

      <button>
        Add message
      </button>
    </form>
  </dd>
</dl>
